<div class="container page">
  <h2>
    <span>Leaderboards</span>
  </h2>

  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#panel-general" role="tab"  role="tab">General</a>
    </li>
    <% @leaderboards.each do |leaderboard| %>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel-<%= leaderboard.name.downcase %>"
          role="tab">
          <%= leaderboard.name %>
        </a>
      </li>
    <% end %>
    <li class="nav-item pull-right">
      <%= link_to myleaderboards_path do %>
        <span class="glyphicon glyphicon-cog"></span>
      <% end%>
    </li>
  </ul>

  <div class="tab-content card">
    <div class="tab-pane active" id="panel-general" role="tabpanel">
      <%= render 'leaderboard', users: @general_predictions %>
    </div>
    <% @leaderboards.each do |leaderboard| %>
      <div class="tab-pane" id="panel-<%= leaderboard.name.downcase %>" role="tabpanel">
        <%= render 'leaderboard', users: leaderboard.users_predictions %>
      </div>
    <% end %>
  </div>

</div>
