<% ended = prediction.match.ended %>

<div class="prediction-box">
  <span class="date"><%= I18n.l prediction.match.date, format: :short %></span>
  <span class="group"><%= prediction.match.phase.name %></span>
  <span class="match-box">
    <span class="name-right"><%= prediction.match.team1.name %></span>
    <%= image_tag(prediction.match.team1.flag, class: 'flag') %>
    <%= f.number_field :score1, maxlength: 2, min: 0, max: 99, class: 'score', disabled: ended %>
    <span class="score_vs"><%= prediction.match.score_label %></span>
    <%= f.number_field :score2, maxlength: 2, min: 0, max: 99, class: 'score', disabled: ended %>
    <%= image_tag(prediction.match.team2.flag, class: 'flag') %>
    <span class="name-left"><%= prediction.match.team2.name %></span>
  </span>
  <span class="points"><%= prediction.points_label %></span>
</div>
