
<% closed = !prediction.match.open %>
<div class="prediction-box">
  <span class="">
    <span class=""><%= I18n.l prediction.match.date, format: :short %></span><br>
    <span class=""><%= prediction.match.phase.name %></span>
  </span>
  <span class="">
    <span class="name-right"><%= prediction.match.team1.name %></span>
    <%= image_tag(prediction.match.team1.flag, class: 'flag') %>
    <%= f.number_field :score1, size: 1, min: 0, max: 99, class: 'score', disabled: closed %>
    <% if prediction.match.open %>
      VS
    <% else %>
      <%= prediction.match.team1_score %> - <%= prediction.match.team2_score %>
    <% end %>
    <%= f.number_field :score2, size: 1, min: 0, max: 99, class: 'score', disabled: closed %>
    <%= image_tag(prediction.match.team2.flag, class: 'flag') %>
    <span class="name-left"><%= prediction.match.team2.name %></span>

    <span>
      <% unless prediction.match.open %>
        3pts
      <% end %>
    </span>
  </span>
</div>
